{% extends 'blogs/base.html' %} {% block content %} 

{% for post in object_list %} 

{% comment %} 
<div class="card text-white bg-secondary mb-3">
  <div class="card-header">
    <h8 class="card-title"
      ><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h8
    >
    <div class="d-flex justify-content-end">{{ post.author }}</div>
  </div>
  <div class="card-body">
    {% if user.is_authenticated %} 
    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
      {% else %} 
    <h2><a href="">{{ post.title }}</a></h2>
    
    <h5 class="card-title">{{ post.title }}</h5>
    {% endif %}
    <p class="card-text">{{ post.body }}</p>
  </div>
</div> {% endcomment %}
 

<div class="card">
  <div class="card-header">
    <span class="font-weight-bold">{{ post.title }}</span> &middot;
    <span class="text-muted">        by {{ post.author }} | {{ post.date }}</span>
  </div>
  <div class="card-body">{{ post.body }}</div>
  <div class="card-footer text-center text-muted">
    <a href="{% url 'post_edit' post.pk %}">Edit</a> |
    <a href="{% url 'post_delete' post.pk %}">Delete</a>
  </div>
</div>
<br />

{% endfor %} {% endblock content %}
