{% extends 'base.html' %}  {% block content %}
   
    <div class="container" style="margin: 0px 30px;">
        <h1>USERNAME</h1>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">posts</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">messages</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">following</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-4">followers</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-5">friends</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-6">settings</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" role="tabpanel" id="tab-1">
                    <p>Content for tab 1.</p>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-2">
                    <p>Content for tab 2.</p>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-3">
                    <p>Content for tab 3.</p>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-4">
                    <p>Tab content.</p>
                </div>
                <div class="tab-pane active" role="tabpanel" id="tab-5">
                    <p>Tab content. 5</p>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab-6">
                    <p>Tab content.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}