{% extends "users/base.html" %}
{% block content %}


<div class="container-fluid mb-5">
    <div class="row justify-content-center">
        <div class="col-10">

            <form class="mt-5" action="{% url 'blogs:createpost' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="textField">Post Your Thoughts</label>
                    <textarea class="form-control" name="textField" id="textField" {% if not user.is_authenticated %} disabled  {% endif %} placeholder="What are you thinking? Share your thoughts" required></textarea>
                </div>
                <div class="float-right mt-2">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>

            </form>

            <h3 class="mx-auto my-5">Recent Posts</h3>
            <div class="w-100"></div>
                {% for o in postList %}
                    <div class="card mt-3">
                        <div class="card-body">
                            {% if user == o.owner %}
                                <a href="{% url 'blogs:deletepost' o.id %}" class="btn ml-2 mb-1 close" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                            {% endif %}    
                            <blockquote class="blockquote mb-0">
                              <p>{{o.text}}</p>
                            </blockquote>

                        </div>
                        <div class="card-footer">
                            <small class="text-muted">- {{o.owner}}</small>
                            <small class="text-muted"> {{o.created_time}}</small>
                        </div>
                    </div>

                {% endfor %}
        </div>
    </div>
</div>


{% endblock content %}