{% extends "users/base.html" %}
{% block content %}


<div class="container-fluid mb-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="mx-auto my-5">GİZLİLİK SÖZLEŞMESİ</h3>
            <hr style="border-width:1;text-color:red;">

            GİZLİLİK SÖZLEŞMESİ
            </br>
            </br>

            1. Sodexo, kişisel bilgi ve veri güvenliğini önemsemekte ve bu hususta gerekli olan tüm tedbirleri almaya özen göstermektedir. Kullanıcılar da Uygulamayı kullanarak işbu gizlilik sözleşmesi hükümlerine uygun davranacaklarını kabul, beyan ve taahhüt ederler.
            </br>
            </br>

            2. İşbu Gizlilik Sözleşmesi, Uygulamanın tüm bölümlerinde geçerli olacaktır.
            </br>
            </br>

            3. Kullanıcıların bilgilerinin korunması ve gizliliğin sürdürülebilmesi Sodexo’nun birinci önceliğidir. Bu nedenle Kullanıcıların vermiş olduğu bilgiler sözleşmede belirtilen kurallar ve amaçlar dışında herhangi bir kapsamda kullanılmayacak, üçüncü şahıslarla paylaşılmayacaktır.
            </br>
            </br>
4. Sodexo, kendisine iletilen kişisel verileri ve bilgileri, bilgilerin toplanması ile ilgili açıklanan yukarıdaki amaçlar dışında üçüncü kişilerle kesinlikle paylaşmayacak, satışını yapmayacak ve hiç bir şart altında kullanılmasına izin vermeyecektir.
            </br>
            </br>
5. Uygulamadaki sistemle ilgili sorunların tanımlanabilmesi ve Uygulamada çıkabilecek muhtemel sorunların acil olarak giderilmesi için, Sodexo gerektiğinde Kullanıcıların IP adresini, sosyal ağ kullanıcı hesabında kayıtlı bilgileri kaydedebilir ve bu kayıtları anılan bu amaçlarla kullanabilir. Bu IP adresleri, Sodexo tarafından kullanıcılarını ve ziyaretçilerini genel anlamda tanımlamak ve kapsamlı şekilde demografik veri toplayabilmek amacıyla kullanılabilir.
            </br>
            </br>
6. Uygulama kapsamında elde edilen bilgiler Sodexo ve işbirliği içinde olduğu diğer kişi ve kurumlar tarafından Kullanıcının kimliği hiç bir şekilde açığa çıkarılmaksızın sadece çeşitli istatistiki değerlendirmeler, izinli pazarlama, veri tabanı oluşturma çabaları ve pazar araştırmaları yapma gibi durumlar dahilinde kullanılabilir.
            </br>
            </br>
7. Sodexo, Uygulama içerisinde başkaca sitelere link (bağlantı) sağlayabilir, anlaşmalı olduğu 3. Partilerin reklamlarını yayınlayabilir, Kullanıcıları reklamlar aracılığıyla reklam veren veya anlaşmalı 3. partilerin sitesine yönlendirebilir. Sodexo, bu bağlantı yoluyla erişilen diğer Uygulamaların gizlilik uygulama ve politikalarına ya da barındırdıkları içeriklere yönelik olmak üzere hiç bir sorumluluk taşımamaktadır.
            </br>
            </br>
8. Sodexo, aşağıda sayılan hallerde ise işbu gizlilik bildirimi hükümleri dışına çıkarak kullanıcılara ait bilgileri üçüncü kişilere açıklayabilecektir. Bu durumlar; • Hukuk kurallarının getirdiği zorunluluklara uyulmasının gerektiği haller, • Sodexo’nun, Kullanıcılarıyla arasındaki sözleşmelerin gereklerinin yerine getirilmesi ve bunların uygulamaya konulmalarıyla ilgili hallerde, • Yetkili idari ve/veya adli makamlar tarafından usuli yöntemine uygun olarak yürütülen bir araştırma veya soruşturma doğrultusunda Kullanıcılarla ilgili bilgi talep edilmesi halleri, • Kullanıcıların haklarını veya güvenliklerini koruma amacıyla bilgi verilmesinin gerekli olduğu haller.
            </br>
            </br>
9. Sodexo, kendisine verilen gizli bilgileri kesinlikle özel ve gizli tutmayı, bunu bir sır olarak saklamayı yükümlülük olarak kabul ettiğini ve gizliliğin sağlanıp sürdürülmesi, gizli bilginin tamamının veya herhangi bir parçasının kamu alanına girmesini veya yetkisiz kullanımını veya üçüncü bir kişiye açıklanmasını önleme gereği olan gerekli tüm tedbirleri almayı ve üzerine düşen tüm özeni tam olarak göstermeyi taahhüt etmektedir.
            </br>
            </br>
10. Sodexo tarafından Uygulamalar içerisinde düzenlenebilecek periyodik veya periyodik olmayan anketlere cevap veren Kullanıcılardan talep edilebilecek bilgiler de, Sodexo ve işbirliği içindeki kişi ya da kurumlar tarafından bu kullanıcılara doğrudan pazarlama yapmak, istatistiki analizler yapmak ve özel bir veri tabanı oluşturmak amacıyla da kullanılabilecektir.
            </br>
            </br>
11. Sodexo, işbu gizlilik bildiriminde geçen hükümleri gerekli gördüğü zamanda Uygulamada yayınlamak şartıyla değiştirebilir. Sodexo’nun değişiklik yaptığı gizlilik bildirimi hükümleri Uygulamada yayınlandığı tarihte yürürlüğe girmiş kabul edilir.
            </br>
            </br>
12. İşbu Gizlilik Sözleşmesi, 12 (oniki) maddeden ibaretttir.
        </div>
    </div>
</div>


{% endblock content %}


{% block Customscript %}

{% endblock Customscript %}
