<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Şifre Değiştirme</title>
    <style>
      .myform {
        padding =15px;
      }
    </style>
  </head>
  <body>
    <form action="{% url 'users:password_changee' %}" method="POST">
     {% csrf_token %}
    
      <h3>şifre değiştirme</h3>
      <div class="myform">
        <div>
          <label for="password">Şifrenizi Giriniz:</label>
          <input
            type="password"
            id="password"
            name="password"
            size="15"
            required
          />
        </div>
        <div>
          <label for="password1">Yeni Şifrenizi Giriniz:</label>
          <input
            type="password"
            id="password1"
            name="password1"
            size="15"
            required
          />
        </div>
        <div>
          <label for="password2">Yeni Şifrenizi Tekrar Giriniz:</label>
          <input
            type="password"
            id="password2"
            name="password2"
            size="15"
            required
          />
        </div>

        <input type="submit" value="Onayla" />
      </div>
    </form>
  </body>
</html>