<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Şifre Değiştirme</title>
  <style>
  .myform{}
  
  
  
  
  
  </style>
</head>
<body>
<h3>şifre değiştirme</h3>
<div class="myform">



</div>
  
</body>
</html>

<a href=""></a>
<a href=""></a>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>