{% extends "users/base.html" %}
{% load static %}



{% block customStyle %}
    <style>
        .rounded-lg {
            border-radius: 1rem;
        }

        .nav-pills .nav-link {
            color: #555;
        }

        .nav-pills .nav-link.active {
            color: #fff;
        }
    </style>
{% endblock customStyle %}



{% block content %}




<div class="container py-5">
    <div class="row">
        <div class="col">
            <div class="bg-white rounded-lg shadow-sm p-5">
                <ul class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                    <li class="nav-item"><a data-toggle="pill" id="navbutton_general" href="#nav-general-info" class="nav-link active rounded-pill"><i class="fa fa-home"></i>
                                Genel Bilgiler
                            </a></li>
                    <li class="nav-item"><a data-toggle="pill" id="navbutton_detail" href="#nav-detail-info" class="nav-link rounded-pill"><i class="fa fa-list-alt"></i>
                                Detay Bilgiler
                            </a></li>
                    <li class="nav-item"><a data-toggle="pill" id="navbutton_department" href="#nav-departments-info" class="nav-link rounded-pill"><i class="fa fa-black-tie"></i>
                                Bölümler
                             </a></li>
                </ul>
                <div class="tab-content">
                    <div id="nav-general-info" class="tab-pane fade show active">
                        <form>
                            <div class="form-group">
                                <label for="uniname">Üniversite İsmi</label>
                                <input type="text" name="uniname" placeholder="Arel Üniversitesi"  class="form-control  form-control-lg" />
                            </div>
                            <div class="form-group">
                                <label for="uniname" data-toggle="tooltip" title="Üniversite arama yerinde gözükecek">Kısa Açıklama <i class="fa fa-question-circle"></i></label>
                                <input type="text" name="uniname" placeholder="Arel Üniversitesi"  class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="uniname">Uzun Açıklama</label>
                                <textarea name="uniname" placeholder="Arel Üniversitesi"  class="form-control">
                                </textarea>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group"><label><span class="hidden-xs">Öğrenci Sayısı</span></label>
                                        <div class="input-group"><input type="number" placeholder="" name class="form-control"  /></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group"><label><span class="hidden-xs">Uluslararası Öğrenci sayısı</span></label>
                                        <div class="input-group"><input type="number" placeholder="" name class="form-control"  /></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-4"><label data-toggle="tooltip" title="Devlet ya da Özel Üniversite">Üniversite Türü
                                                <i class="fa fa-question-circle"></i></label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Devlet</option>
                                            <option>Özel</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group"><label for="cardNumber">Card number</label>
                                <div class="input-group">
                                <input type="text" name="cardNumber" placeholder="Your card number" class="form-control" required />
                                    <div class="input-group-append">
                                    <span class="input-group-text text-muted"><i class="fa fa-cc-visa mx-1"></i><i class="fa fa-cc-amex mx-1"></i><i class="fa fa-cc-mastercard mx-1"></i></span></div>
                                </div>
                            </div> -->
                            <!-- <div class="row">
                                <div class="col-sm-8">
                                    <div class="form-group"><label><span class="hidden-xs">Expiration</span></label>
                                        <div class="input-group"><input type="number" placeholder="MM" name class="form-control" required /><input type="number" placeholder="YY" name class="form-control" required /></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-4"><label data-toggle="tooltip" title="Three-digits code on the back of your card">CVV
                                                <i class="fa fa-question-circle"></i></label><input type="text" required class="form-control" /></div>
                                </div>
                            </div> -->
                            <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" onclick="changeNavBar(1)" > Next  </button>
                        </form>
                    </div>
                    <div id="nav-detail-info" class="tab-pane fade">
                        <form>
                            <div class="form-group">
                                <label for="uniname">Profil Fotoğrafı</label>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="inputGroupFile02">
                                      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Fotoğraf Seç</label>
                                    </div>
                                  </div>
                                  
                            </div>
                            <div class="form-group">
                                <label for="uniname" data-toggle="tooltip" title="Üniversite arama yerinde gözükecek">Kapak Fotoğrafı<i class="fa fa-question-circle"></i></label>
                                <input type="text" name="uniname" placeholder="Arel Üniversitesi"  class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="uniname">Uzun Açıklama</label>
                                <textarea name="uniname" placeholder="Arel Üniversitesi"  class="form-control">
                                </textarea>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group"><label><span class="hidden-xs">Öğrenci Sayısı</span></label>
                                        <div class="input-group"><input type="number" placeholder="" name class="form-control"  /></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group"><label><span class="hidden-xs">Uluslararası Öğrenci sayısı</span></label>
                                        <div class="input-group"><input type="number" placeholder="" name class="form-control"  /></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group mb-4"><label data-toggle="tooltip" title="Devlet ya da Özel Üniversite">Üniversite Türü
                                                <i class="fa fa-question-circle"></i></label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>Devlet</option>
                                            <option>Özel</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm" onclick="changeNavBar(2)" > Next  </button>
                        </form>
                    </div>
                    <div id="nav-departments-info" class="tab-pane fade">
                        <h6>Bank account details</h6>
                        <dl><dt>Bank</dt>
                            <dd> THE WORLD BANK</dd>
                        </dl>
                        <dl><dt>Account number</dt>
                            <dd>7775877975</dd>
                        </dl>
                        <dl><dt>IBAN</dt>
                            <dd>CZ7775877975656</dd>
                        </dl>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}



{% block Customscript %}
    <script>
        function changeNavBar(number){
            if(number == 1){
                document.getElementById('navbutton_detail').click();
            }
            else{
                document.getElementById('navbutton_department').click();
            }
        }
    </script>
{% endblock Customscript %}