{% extends "users/base.html" %}
{% load static %}

{% block customStyle %}

{% endblock customStyle %}

{% block content %}

    <section style="background: url({{university.cover_photo.url}}) center / contain repeat-x, #bababa;width: 100%;margin-top: 55px;position: relative;z-index: -1;min-height: 100vh;">
        <section style="width: 100%;height: 100%;background: #0500ff;opacity: 0.50; min-height: 100vh;"></section>
        <h1 class="header_class">{{university.name}}</h1>
    </section>
    <section style="width: 95%;background: #ffffff;border-radius: 10px;margin-left: auto;margin-right: auto; margin-top: -400px; box-shadow: 0px 0px 20px;text-align: center;margin-bottom: 30px; padding-bottom: 30px;">
        <div style="text-align: right;margin-right: 20px;font-size: 40px;color: rgb(3,94,184);">
            <div>
                <a href="{{university.pinterest_link}}"><i class="fa fa-pinterest-square" data-bs-hover-animate="pulse" style="color: rgb(223,0,25);" title="pinterest"></i></a>
                <a href="{{university.twitter_link}}"><i class="fa fa-twitter-square" data-bs-hover-animate="pulse" style="color: rgb(0,224,255);" title="twitter"></i></a>
                <a href="{{university.instagram_link}}"><i class="fa fa-instagram" data-bs-hover-animate="pulse" style="color: #000000;" title="instagram"></i></a>
                <a href="{{university.linkedin_link}}"><i class="fa fa-linkedin-square" data-bs-hover-animate="pulse" style="color: rgb(0,123,182);" title="linkedin"></i></a>
                <a href="{{university.facebook_link}}"><i class="fa fa-facebook-square" data-bs-hover-animate="pulse" title="facebook"></i></a>
            </div>
            <div style="font-size: 25px;text-align: right;color: rgb(0,0,0);">
                <a data-bs-hover-animate="pulse" class="websiteLink" href="{{university.getwebsitelink}}" style="font-size: 20px;color: rgb(0,0,0);text-align: right;">{{university.website_link}}</a>
            </div>
        </div>
        <div><img class="d-inline-block" style="background: url({{university.profile_photo.url }}) center / cover no-repeat, #ffffff;min-width: 80px;min-height: 80px;width: 240px;height: 240px;margin-top: -200px;border-radius: 136px;">
            <h1 style="margin-top: 20px;">{{university.name}}</h1>
            <div>
                <div class="container">
                    <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="text-align: center; margin-top: 60px;">
                        <div style="margin-top: 15px;margin-bottom: 15px;">
                            <h2 style="font-weight: 800;">{{university.numberOfLocalStudents}}</h2>
                            <p>Öğrenci</p>
                        </div>
                        <div style="margin-left: 50px;margin-right: 50px;padding-left: 50px;padding-right: 50px;border: 1px solid rgba(0,0,0,0.13);border-top: 3px none rgb(33, 37, 41);border-bottom: 3px none rgb(33, 37, 41);margin-top: 15px;margin-bottom: 15px;">
                            <h2 style="font-weight: 800;">{{university.numberOfForeignStudents}}</h2>
                            <p>Uluslararası Öğrenci</p>
                        </div>
                        <div style="margin-top: 15px;margin-bottom: 15px;">
                            <h2 style="font-weight: 800;">{{university.universityType}}</h2>
                            <p>Üniversitesi</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                {{university.detailedInfo|linebreaks}}
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col offset-0">
                            <div class="row">
                                <div class="col-1 col-xl-1 offset-2 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs activeTab" id="nav_1" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-university" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">BİLGİ</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_2" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-graduation-cap" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">BÖLÜMLER</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_3" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-address-card" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">KADRO</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_4" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-calendar-check-o" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">TAKVİM</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_5" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-bookmark" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">HİZMETLER</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_6" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-info" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">DUYURULAR</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_7" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-camera" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">FOTOĞRAFLAR</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_8" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-american-sign-language-interpreting" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">KULÜPLER</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="tab-content" id="universityTabContent">
                                <div class="tab-pane fade show active" id="content_1" role="tabpanel">
                                    <div class="features-boxed">
                                        <div class="container">
                                            <div class="intro">
                                                <h2 class="text-center">Üniversite Hakkında Bilgi</h2>
                                                <p class="text-center">Boğaziçi Üniversitesi çok köklü bir üniversitedir ve çok fazla kişi tarafından öncelikli olarak tercih edilen üniversitelerden birisidir.</p>
                                            </div>
                                            <div class="row justify-content-center features">
                                                <div class="col-sm-6 col-md-5 col-lg-4 col-xl-12 item">
                                                    <div class="box"><i class="fa fa-map-marker icon"></i>
                                                        <h3 class="name">Kampüsler</h3>
                                                        <p class="description">Üniversitenin 6 adet kampüsü var, bunlar; Hisar, Güney, Kuzey, Uçaksavar, Kilyos ve Kandıra Kampüsleridir.</p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-leaf icon"></i>
                                                        <h3 class="name">Kuzey Kampüs</h3>
                                                        <p class="description">Hisarüstünde yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Kütüphane ve Yemekhane hizmeleri de vardır.</p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-leaf icon"></i>
                                                        <h3 class="name">Güney Kampüs</h3>
                                                        <p class="description">Hisarüstünde yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Kütüphane ve Yemekhane hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-leaf icon"></i>
                                                        <h3 class="name">Hisar Kampüs</h3>
                                                        <p class="description">Hisarüstünde yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Stop tesisi ve Yemekhane hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-plane icon"></i>
                                                        <h3 class="name">Uçaksavar Kampüs</h3>
                                                        <p class="description">Hisarüstünde yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Kütüphane ve Yemekhane hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-asterisk icon"></i>
                                                        <h3 class="name">Kilyos Kampüs</h3>
                                                        <p class="description">Kilyos&#39;ta yer alan kampüsün içerisinde sadece hazırlık bulunmaktadır. Kütüphane, Yemekhane ve Spor hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-thermometer-quarter icon"></i>
                                                        <h3 class="name">Kandıra Kampüs</h3>
                                                        <p class="description">Kandıra&#39;da yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Deprem araştırmaları. Kütüphane ve Yemekhane hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="content_2" role="tabpanel">
                                    <div class="row" style="margin-top: 100px;">
                                        <div class="col-3">
                                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link active" data-toggle="pill" href="#v-pills-prelisance" role="tab"  aria-selected="true">Ön Lisans Programları</a>
                                            <a class="nav-link" data-toggle="pill" href="#v-pills-lisance" role="tab" aria-selected="false">Linsans Programları</a>
                                            <a class="nav-link" data-toggle="pill" href="#v-pills-postlisance-tab" role="tab" aria-selected="false">Lisansüstü Programları</a>
                                          </div>
                                        </div>
                                        <div class="col-9">
                                          <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade show active" id="v-pills-prelisance" role="tabpanel">
                                                <table id="tablePreview" class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Bölüm</th>
                                                            <th>Puan Tipi</th>
                                                            <th>Taban Puan</th>
                                                            <th>Taban Sıralama</th>
                                                            <th>Ücret</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for faculty in university.facultyList.all %}
                                                            {% for department in faculty.departmentList.all %}
                                                                <tr>
                                                                    <td>{{department.name}}</td>
                                                                    <td>{{department.puanType}}</td>
                                                                    <td>{{department.minimumPuan}}</td>
                                                                    <td>{{department.minimumRanking}}</td>
                                                                    <td>-</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-lisance" role="tabpanel">
                                                <div class="col">
                                                    {% for faculty in university.facultyList.all %}
                                                        <p>
                                                            {{faculty.name}} Fakültesi
                                                        </p>
                                                    <hr>
                                                        {% for department in faculty.departmentList.all %}
                                                        <p>
                                                            {{department.name}}
                                                        </p>
                                                        {% endfor %}
                        
                                                    {% endfor %}
                        
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-postlisance-tab" role="tabpanel">
                                                <table id="tablePreview" class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Bölüm</th>
                                                            <th>Dil</th>
                                                            <th>Puan Tipi</th>
                                                            <th>Taban Puan</th>
                                                            <th>Taban Sıralama</th>
                                                            <th>Ücret</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>İşletme</td>
                                                            <td>Türkçe</td>
                                                            <td>YGS</td>
                                                            <td>481.54</td>
                                                            <td>152</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>İktisat</td>
                                                            <td>Türkçe</td>
                                                            <td>YGS - 4</td>
                                                            <td>481.54</td>
                                                            <td>152</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bilgisayar Mühendisliği</td>
                                                            <td>Türkçe</td>
                                                            <td>LYS</td>
                                                            <td>481.54</td>
                                                            <td>152</td>
                                                            <td>-</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="tab-pane fade" id="content_3" role="tabpanel">
                                    
                                </div>
                                <div class="tab-pane fade" id="content_4" role="tabpanel">
                                    <section class="text-center" style="margin-bottom: 50px">
                                        <div class="bootstrap_calendar">
                                            <div>
                                                <header class="text-center my-3">
                                                    <h1 class="display-4">Akademik Takvim</h1>
                                                </header>


                                                <div>
                                                    <div class="calendar shadow bg-white p-5">
                                                        <div class="d-flex align-items-center"><i class="fa fa-calendar fa-3x mr-3"></i>
                                                            <h2 class="month font-weight-bold mb-0 text-uppercase" id="monthAndYear"></h2>
                                                        </div>
                                                        <p class="font-italic text-muted mb-5">Üniversitelerin Programı</p>
                                                        <ol class="day-names list-unstyled" id="calendar-day-names">
                                                            <li>PAZARTESİ</li>
                                                            <li>Salı</li>
                                                            <li>Çarşamba</li>
                                                            <li>Perşembe</li>
                                                            <li>Cuma</li>
                                                            <li>CUMARTESİ</li>
                                                            <li>Pazar</li>
                                                        </ol>
                                                        <ol class="days list-unstyled" id="calendar-days">
                                                            <!-- Calendar is filled in here -->
                                                        </ol>
                                                        
                                                    <div class="form-inline">
                                                        <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Önceki</button>
                                                        <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Sonraki</button>
                                                    </div>
                                                    <br/>
                                                    <form class="form-inline">
                                                        <!-- <label class="lead mr-2 ml-2" for="month">Atla: </label> -->
                                                        <select class="form-control col-sm-6" name="month" id="month" onchange="jump()">
                                                            <option value=0>Ocak</option>
                                                            <option value=1>Şubak</option>
                                                            <option value=2>Mart</option>
                                                            <option value=3>Nisan</option>
                                                            <option value=4>Mayıs</option>
                                                            <option value=5>Haziran</option>
                                                            <option value=6>Temmuz</option>
                                                            <option value=7>Ağustos</option>
                                                            <option value=8>Eylül</option>
                                                            <option value=9>Ekim</option>
                                                            <option value=10>Kasım</option>
                                                            <option value=11>Aralık</option>
                                                        </select>
                                                        <label for="year"></label><select class="form-control col-sm-6" name="year" id="year" onchange="jump()">
                                                        <option value=1990>1990</option>
                                                        <option value=1991>1991</option>
                                                        <option value=1992>1992</option>
                                                        <option value=1993>1993</option>
                                                        <option value=1994>1994</option>
                                                        <option value=1995>1995</option>
                                                        <option value=1996>1996</option>
                                                        <option value=1997>1997</option>
                                                        <option value=1998>1998</option>
                                                        <option value=1999>1999</option>
                                                        <option value=2000>2000</option>
                                                        <option value=2001>2001</option>
                                                        <option value=2002>2002</option>
                                                        <option value=2003>2003</option>
                                                        <option value=2004>2004</option>
                                                        <option value=2005>2005</option>
                                                        <option value=2006>2006</option>
                                                        <option value=2007>2007</option>
                                                        <option value=2008>2008</option>
                                                        <option value=2009>2009</option>
                                                        <option value=2010>2010</option>
                                                        <option value=2011>2011</option>
                                                        <option value=2012>2012</option>
                                                        <option value=2013>2013</option>
                                                        <option value=2014>2014</option>
                                                        <option value=2015>2015</option>
                                                        <option value=2016>2016</option>
                                                        <option value=2017>2017</option>
                                                        <option value=2018>2018</option>
                                                        <option value=2019>2019</option>
                                                        <option value=2020>2020</option>
                                                        <option value=2021>2021</option>
                                                        <option value=2022>2022</option>
                                                        <option value=2023>2023</option>
                                                        <option value=2024>2024</option>
                                                        <option value=2025>2025</option>
                                                        <option value=2026>2026</option>
                                                        <option value=2027>2027</option>
                                                        <option value=2028>2028</option>
                                                        <option value=2029>2029</option>
                                                        <option value=2030>2030</option>
                                                    </select></form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    {% if user.is_superuser %}
                                        <h3>Yeni Ekle</h3>
                                        <form style="text-align: start;" action="{% url 'calendars:createevent' university.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                              <label for="exampleInputEmail1">Adı</label>
                                              <input type="text" name="eventName" class="form-control" aria-describedby="emailHelp" required>
                                            </div>
                                            <div class="form-group">
                                                <h5>Rengi</h5>
                                                <select name="eventColor" class="custom-select custom-select-sm">
                                                    <option value="bg-primary" class="bg-primary">primary</option>
                                                    <option value="bg-secondary" class="bg-secondary">secondary</option>
                                                    <option value="bg-success" class="bg-success">success</option>
                                                    <option value="bg-danger" class="bg-danger">danger</option>
                                                    <option value="bg-info" class="bg-info">info</option>
                                                    <option value="bg-light" class="bg-light">light</option>
                                                    <option value="bg-dark" class="bg-dark">dark</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Başlangıç Tarihi</label>
                                                <input type="date" class="form-control" name="eventStartDate" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Bitiş Tarihi</label>
                                                <input type="date" class="form-control" name="eventEndDate" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary" onclick="clickBtn()">Ekle</button>
                                          </form>
                                    {% endif %}
                                </div>
                            </div>

                            <hr style="background-color: #bababa;" />   
                            <div class="map-clean" style="margin-top: 50px;">
                                <div class="container">
                                    <div class="intro">
                                        <h2 class="text-center">Konum</h2>
                                        <p class="text-center">Boğaziçi Üniversitesi 34342 Bebek/İstanbul Türkiye</p>
                                    </div>
                                </div>
                                <!-- <iframe allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Paris%2C+France&amp;zoom=15" width="100%" height="450"></iframe></div> -->
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1063.2308963021467!2d29.047355040685744!3d41.08492281098517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1605660805137!5m2!1str!2str" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}



{% block Customscript %}

    <!-- Managing Tabs -->
    <script>
        var last_clicked_id = "nav_1";  
        function navClick(new_clicked_id) {
            if(last_clicked_id != new_clicked_id){
                $("#" + last_clicked_id).removeClass('activeTab');
                $("#" + last_clicked_id).addClass('inactiveTab');
                $("#" + new_clicked_id).removeClass('inactiveTab');
                $("#" + new_clicked_id).addClass('activeTab');

                // For making content show up accordingly

                var oldid = last_clicked_id.split('_')[1];
                var newid = new_clicked_id.split('_')[1];
                $("#content_" + oldid).removeClass('show');
                $("#content_" + oldid).removeClass('active');
                $("#content_" + newid).addClass('show');
                $("#content_" + newid).addClass('active');


                last_clicked_id = new_clicked_id;
            }
        }
    </script>

    <!-- Calender -->
    <script>
        today = new Date();
        currentMonth = today.getMonth();
        currentYear = today.getFullYear();
        selectYear = document.getElementById("year");
        selectMonth = document.getElementById("month");

        months = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];

        monthAndYear = document.getElementById("monthAndYear");

        showCalendar(currentMonth, currentYear);

        function next() {
            currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
            currentMonth = (currentMonth + 1) % 12;
            showCalendar(currentMonth, currentYear);
        }

        function previous() {
            currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
            currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
            showCalendar(currentMonth, currentYear);
        }

        function jump() {
            currentYear = parseInt(selectYear.value);
            currentMonth = parseInt(selectMonth.value);
            showCalendar(currentMonth, currentYear);
        }

        function clickBtn() {
            showCalendar(currentMonth, currentYear);
        }

        function showCalendar(month, year) {
            let firstDay = (new Date(year, month)).getDay()-1; //günler pazartesiden başlıyor bizde
            let lastDayOfPastMonth = daysInMonth(month-1, year); //lastDays

            tbl = document.getElementById("calendar-days"); // body of the calendar2

            // clearing all previous cells
            tbl.innerHTML = "";

            // filing data about month and in the page via DOM.
            monthAndYear.innerHTML = months[month] + " " + year;
            selectYear.value = year;
            selectMonth.value = month;

            // creating all cells
            let date = 1;
            let dateNewMonth = 1;
            for (let i = 0; i < 6; i++) {

                //creating individual cells, filing them up with data.
                for (let j = 0; j < 7; j++) {
                    if (i === 0 && j < firstDay) {
                        tbl.innerHTML += "<li class='outside'><div class='date'>" + (parseInt(lastDayOfPastMonth) - (firstDay - parseInt(j) - 1)).toString() + "</div></li>";
                    }
                    else if (date > daysInMonth(month, year)) {
                        if(i===5 && j===0)
                            break;
                        tbl.innerHTML += "<li class='outside'><div class='date'>" + dateNewMonth + "</div></li>";
                        dateNewMonth++;
                    }
                    else {
                        if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) 
                            tbl.innerHTML += "<li class='bg-light'><div class='date' id='date"+ date +"'>"+date+"</div></li>"
                        else
                            tbl.innerHTML += "<li><div class='date' id='date"+ date +"'>"+date+"</div></li>"
                        date++;
                    }
                }
            }
            $.ajax({
                    type: 'GET',
                    url: "{% url 'calendars:getEvents' %}",
                    data: {
                        month: month+1,
                        year: year,
                        university : '{{university.id}}'
                    },

                    success: function (response) {
                        let eventList = JSON.parse(response['eventList']);
                        console.log(eventList);
                        eventList.forEach(function(company) {
                            let event = company['fields'];
                            startDate = new Date(event['startDate']);
                            endDate = new Date(event['endDate']);
                            color = event['color'];
                            university = event['university'][1];
                            let eventStartDay = startDate.getDate();
                            let eventEndDay = endDate.getDate();
                            TheDay = document.getElementById("date" + eventStartDay);

                            if(eventStartDay == eventEndDay){
                                TheDay.innerHTML += "<div class='event " + color + "' data-toggle='tooltip' data-placement='top' title='" + university + "'>" + event.name + "</div>";
                            }
                            else{
                                TheDay.innerHTML += "<div class='event span-2 " + color + "' data-toggle='tooltip' data-placement='top' title='" + university + "'>" + event.name + "</div>";
                            }
                        });
                    },
                })
        }

        function daysInMonth(iMonth, iYear) {
            return 32 - new Date(iYear, iMonth, 32).getDate();
        }
    </script>

{% endblock Customscript %}