{% extends "users/base.html" %}
{% load static %}

{% block CustomStyle %}
<style>
    img.huechange { filter: hue-rotate(130deg); }
    a.editable
    {
        cursor: pointer;
    }
    input.editablefield
    {
        text-align: center;
        border: none;
    }
</style>
{% endblock CustomStyle %}

{% block content %}

    <section style="background: url({{university.cover_photo.url}}) center / contain repeat-x, #bababa;width: 100%;margin-top: 55px;position: relative;z-index: -1;min-height: 100vh;">
        <section style="width: 100%;height: 100%;background: #0500ff;opacity: 0.50; min-height: 100vh;"></section>
        <h1 class="header_class">{{university.name}}</h1>
    </section>
    <section style="width: 95%;background: #ffffff;border-radius: 10px;margin-left: auto;margin-right: auto; margin-top: -400px; box-shadow: 0px 0px 20px;text-align: center;margin-bottom: 30px; padding-bottom: 30px;">
        <div style="text-align: right;margin-right: 20px;font-size: 40px;color: rgb(3,94,184);">
            <div>
                <a href="{{university.pinterest_link}}"><i class="fa fa-pinterest-square" data-bs-hover-animate="pulse" style="color: rgb(223,0,25);" title="pinterest"></i></a>
                <a href="{{university.twitter_link}}"><i class="fa fa-twitter-square" data-bs-hover-animate="pulse" style="color: rgb(0,224,255);" title="twitter"></i></a>
                <a href="{{university.instagram_link}}"><i class="fa fa-instagram" data-bs-hover-animate="pulse" style="color: #000000;" title="instagram"></i></a>
                <a href="{{university.linkedin_link}}"><i class="fa fa-linkedin-square" data-bs-hover-animate="pulse" style="color: rgb(0,123,182);" title="linkedin"></i></a>
                <a href="{{university.facebook_link}}"><i class="fa fa-facebook-square" data-bs-hover-animate="pulse" title="facebook"></i></a>
            </div>
            <div style="font-size: 25px;text-align: right;color: rgb(0,0,0);">
                <a data-bs-hover-animate="pulse" class="websiteLink" href="{{university.getwebsitelink}}" style="font-size: 20px;color: rgb(0,0,0);text-align: right;">{{university.website_link}}</a>
            </div>
        </div>
        <div><img class="d-inline-block" style="background: url({{university.profile_photo.url }}) center / cover no-repeat, #ffffff;min-width: 80px;min-height: 80px;width: 240px;height: 240px;margin-top: -200px;border-radius: 136px;">
            <h1 style="margin-top: 20px;">{{university.name}}</h1>
            <div>
                <div class="container">
                    <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="text-align: center; margin-top: 60px;">
                        <div style="margin-top: 15px;margin-bottom: 15px;">
                            <h2 style="font-weight: 800;">{{university.numberOfLocalStudents}}</h2>
                            <p>Öğrenci</p>
                        </div>
                        <div style="margin-left: 50px;margin-right: 50px;padding-left: 50px;padding-right: 50px;border: 1px solid rgba(0,0,0,0.13);border-top: 3px none rgb(33, 37, 41);border-bottom: 3px none rgb(33, 37, 41);margin-top: 15px;margin-bottom: 15px;">
                            <h2 style="font-weight: 800;">{{university.numberOfForeignStudents}}</h2>
                            <p>Uluslararası Öğrenci</p>
                        </div>
                        <div style="margin-top: 15px;margin-bottom: 15px;">
                            <h2 style="font-weight: 800;">{{university.universityType}}</h2>
                            <p>Üniversitesi</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>
                                {{university.detailedInfo|linebreaks}}
                            </p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col offset-0">
                            <div class="row" style="display: flex; justify-content: center;">
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs activeTab" id="nav_info" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-university" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">BİLGİ</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_department" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-graduation-cap" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">BÖLÜMLER</p>
                                    </div>
                                </div>
                                <!-- <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_3" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-address-card" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">KADRO</p>
                                    </div>
                                </div> -->
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_calendar" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-calendar-check-o" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">TAKVİM</p>
                                    </div>
                                </div>
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_services" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-bookmark" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">HİZMETLER</p>
                                    </div>
                                </div>
                                <!-- <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_6" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-info" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">DUYURULAR</p>
                                    </div>
                                </div> -->
                                <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_pictures" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-camera" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">FOTOĞRAFLAR</p>
                                    </div>
                                </div>
                                <!-- <div class="col-1 col-xl-1 text-center d-xl-flex align-self-center my-auto justify-content-xl-center align-items-xl-center universityTabs inactiveTab" id="nav_8" onclick="navClick(this.id)">
                                    <div style="margin-top: 15px;min-height: 60px;width: 80px;position: relative;padding-top: 15px;"><i class="fa fa-american-sign-language-interpreting" style="height: 30px;margin-bottom: 10px;font-size: 30px;"></i>
                                        <p style="vertical-align: bottom;font-size: 12px;">KULÜPLER</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="tab-content" id="universityTabContent">
                                <div class="tab-pane fade show active" id="tab_info" role="tabpanel">
                                    <div class="features-boxed">
                                        <div class="container">
                                            <div class="intro">
                                                <h2 class="text-center">Üniversite Hakkında Bilgi</h2>
                                                <p class="text-center">Boğaziçi Üniversitesi çok köklü bir üniversitedir ve çok fazla kişi tarafından öncelikli olarak tercih edilen üniversitelerden birisidir.</p>
                                            </div>
                                            <div class="row justify-content-center features">
                                                <div class="col-sm-6 col-md-5 col-lg-4 col-xl-12 item">
                                                    <div class="box"><i class="fa fa-map-marker icon"></i>
                                                        <h3 class="name">Kampüsler</h3>
                                                        <p class="description">Üniversitenin 6 adet kampüsü var, bunlar; Hisar, Güney, Kuzey, Uçaksavar, Kilyos ve Kandıra Kampüsleridir.</p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-leaf icon"></i>
                                                        <h3 class="name">Kuzey Kampüs</h3>
                                                        <p class="description">Hisarüstünde yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Kütüphane ve Yemekhane hizmeleri de vardır.</p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-leaf icon"></i>
                                                        <h3 class="name">Güney Kampüs</h3>
                                                        <p class="description">Hisarüstünde yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Kütüphane ve Yemekhane hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-leaf icon"></i>
                                                        <h3 class="name">Hisar Kampüs</h3>
                                                        <p class="description">Hisarüstünde yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Stop tesisi ve Yemekhane hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-plane icon"></i>
                                                        <h3 class="name">Uçaksavar Kampüs</h3>
                                                        <p class="description">Hisarüstünde yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Kütüphane ve Yemekhane hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-asterisk icon"></i>
                                                        <h3 class="name">Kilyos Kampüs</h3>
                                                        <p class="description">Kilyos&#39;ta yer alan kampüsün içerisinde sadece hazırlık bulunmaktadır. Kütüphane, Yemekhane ve Spor hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                                <div class="col-sm-6 col-md-5 col-lg-4 item">
                                                    <div class="box"><i class="fa fa-thermometer-quarter icon"></i>
                                                        <h3 class="name">Kandıra Kampüs</h3>
                                                        <p class="description">Kandıra&#39;da yer alan kampüsün içerisinde bir çok bölüm bulunmaktadır. Deprem araştırmaları. Kütüphane ve Yemekhane hizmeleri de vardır.<br /></p><a class="learn-more" href="#">Learn more »</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_department" role="tabpanel">
                                    <div class="row" style="margin-top: 100px;">
                                        <div class="col-3">
                                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link active" data-toggle="pill" href="#v-pills-prelisance" role="tab"  aria-selected="true">Ön Lisans Programları</a>
                                            <a class="nav-link" data-toggle="pill" href="#v-pills-lisance" role="tab" aria-selected="false">Linsans Programları</a>
                                            <a class="nav-link" data-toggle="pill" href="#v-pills-postlisance-tab" role="tab" aria-selected="false">Lisansüstü Programları</a>
                                          </div>
                                        </div>
                                        <div class="col-9">
                                          <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade show active" id="v-pills-prelisance" role="tabpanel">
                                                <table id="tablePreview" class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Bölüm</th>
                                                            <th>Puan Tipi</th>
                                                            <th>Taban Puan</th>
                                                            <th>Taban Sıralama</th>
                                                            <th>Ücret</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for faculty in university.facultyList.all %}
                                                            {% for department in faculty.departmentList.all %}
                                                                <tr>
                                                                    <td>{{department.name}}</td>
                                                                    <td>{{department.puanType}}</td>
                                                                    <td>{{department.minimumPuan}}</td>
                                                                    <td>{{department.minimumRanking}}</td>
                                                                    <td>-</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-lisance" role="tabpanel">
                                                <div class="col">
                                                    {% for faculty in university.facultyList.all %}
                                                        <p>
                                                            {{faculty.name}} Fakültesi
                                                        </p>
                                                    <hr>
                                                        {% for department in faculty.departmentList.all %}
                                                        <p>
                                                            {{department.name}}
                                                        </p>
                                                        {% endfor %}
                        
                                                    {% endfor %}
                        
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-postlisance-tab" role="tabpanel">
                                                <table id="tablePreview" class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Bölüm</th>
                                                            <th>Dil</th>
                                                            <th>Puan Tipi</th>
                                                            <th>Taban Puan</th>
                                                            <th>Taban Sıralama</th>
                                                            <th>Ücret</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>İşletme</td>
                                                            <td>Türkçe</td>
                                                            <td>YGS</td>
                                                            <td>481.54</td>
                                                            <td>152</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>İktisat</td>
                                                            <td>Türkçe</td>
                                                            <td>YGS - 4</td>
                                                            <td>481.54</td>
                                                            <td>152</td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bilgisayar Mühendisliği</td>
                                                            <td>Türkçe</td>
                                                            <td>LYS</td>
                                                            <td>481.54</td>
                                                            <td>152</td>
                                                            <td>-</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div class="tab-pane fade" id="tab_calendar" role="tabpanel">
                                    <section class="text-center" style="margin-bottom: 50px">
                                        <div class="bootstrap_calendar">
                                            <div>
                                                <header class="text-center my-3">
                                                    <h1 class="display-4">Akademik Takvim</h1>
                                                </header>
                                                <div>
                                                    <div class="calendar shadow bg-white p-5">
                                                        <div class="d-flex align-items-center"><i class="fa fa-calendar fa-3x mr-3"></i>
                                                            <h2 class="month font-weight-bold mb-0 text-uppercase" id="monthAndYear"></h2>
                                                        </div>
                                                        <p class="font-italic text-muted mb-5">Üniversitelerin Programı</p>
                                                        <ol class="day-names list-unstyled" id="calendar-day-names">
                                                            <li>PAZARTESİ</li>
                                                            <li>Salı</li>
                                                            <li>Çarşamba</li>
                                                            <li>Perşembe</li>
                                                            <li>Cuma</li>
                                                            <li>CUMARTESİ</li>
                                                            <li>Pazar</li>
                                                        </ol>
                                                        <ol class="days list-unstyled" id="calendar-days">
                                                            <!-- Calendar is filled in here -->
                                                        </ol>
                                                        
                                                    <div class="form-inline">
                                                        <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Önceki</button>
                                                        <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Sonraki</button>
                                                    </div>
                                                    <br/>
                                                    <form class="form-inline">
                                                        <!-- <label class="lead mr-2 ml-2" for="month">Atla: </label> -->
                                                        <select class="form-control col-sm-6" name="month" id="month" onchange="jump()">
                                                            <option value=0>Ocak</option>
                                                            <option value=1>Şubak</option>
                                                            <option value=2>Mart</option>
                                                            <option value=3>Nisan</option>
                                                            <option value=4>Mayıs</option>
                                                            <option value=5>Haziran</option>
                                                            <option value=6>Temmuz</option>
                                                            <option value=7>Ağustos</option>
                                                            <option value=8>Eylül</option>
                                                            <option value=9>Ekim</option>
                                                            <option value=10>Kasım</option>
                                                            <option value=11>Aralık</option>
                                                        </select>
                                                        <label for="year"></label><select class="form-control col-sm-6" name="year" id="year" onchange="jump()">
                                                        <option value=1990>1990</option>
                                                        <option value=1991>1991</option>
                                                        <option value=1992>1992</option>
                                                        <option value=1993>1993</option>
                                                        <option value=1994>1994</option>
                                                        <option value=1995>1995</option>
                                                        <option value=1996>1996</option>
                                                        <option value=1997>1997</option>
                                                        <option value=1998>1998</option>
                                                        <option value=1999>1999</option>
                                                        <option value=2000>2000</option>
                                                        <option value=2001>2001</option>
                                                        <option value=2002>2002</option>
                                                        <option value=2003>2003</option>
                                                        <option value=2004>2004</option>
                                                        <option value=2005>2005</option>
                                                        <option value=2006>2006</option>
                                                        <option value=2007>2007</option>
                                                        <option value=2008>2008</option>
                                                        <option value=2009>2009</option>
                                                        <option value=2010>2010</option>
                                                        <option value=2011>2011</option>
                                                        <option value=2012>2012</option>
                                                        <option value=2013>2013</option>
                                                        <option value=2014>2014</option>
                                                        <option value=2015>2015</option>
                                                        <option value=2016>2016</option>
                                                        <option value=2017>2017</option>
                                                        <option value=2018>2018</option>
                                                        <option value=2019>2019</option>
                                                        <option value=2020>2020</option>
                                                        <option value=2021>2021</option>
                                                        <option value=2022>2022</option>
                                                        <option value=2023>2023</option>
                                                        <option value=2024>2024</option>
                                                        <option value=2025>2025</option>
                                                        <option value=2026>2026</option>
                                                        <option value=2027>2027</option>
                                                        <option value=2028>2028</option>
                                                        <option value=2029>2029</option>
                                                        <option value=2030>2030</option>
                                                    </select></form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    {% if user.is_superuser %}
                                        <h3>Yeni Ekle</h3>
                                        <form style="text-align: start;" action="{% url 'calendars:createevent' university.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                              <label for="exampleInputEmail1">Adı</label>
                                              <input type="text" name="eventName" class="form-control" aria-describedby="emailHelp" required>
                                            </div>
                                            <div class="form-group">
                                                <h5>Rengi</h5>
                                                <select name="eventColor" class="custom-select custom-select-sm">
                                                    <option value="bg-primary" class="bg-primary">primary</option>
                                                    <option value="bg-secondary" class="bg-secondary">secondary</option>
                                                    <option value="bg-success" class="bg-success">success</option>
                                                    <option value="bg-danger" class="bg-danger">danger</option>
                                                    <option value="bg-info" class="bg-info">info</option>
                                                    <option value="bg-light" class="bg-light">light</option>
                                                    <option value="bg-dark" class="bg-dark">dark</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>Başlangıç Tarihi</label>
                                                <input type="date" class="form-control" name="eventStartDate" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Bitiş Tarihi</label>
                                                <input type="date" class="form-control" name="eventEndDate" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary" onclick="clickBtn()">Ekle</button>
                                          </form>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="tab_services" role="tabpanel">
                                    deneme
                                </div>
                                <div class="tab-pane fade" id="tab_pictures" role="tabpanel">
                                    <div id="portfolio">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <h2 class="section-heading" style="margin-top: 25px; margin-bottom: 25px;">Fotoğraflar</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4 portfolio-item">
                                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                                                        </div><img class="img-fluid" src="{% static 'assets/img/portfolio/1-thumbnail.jpg'%}"></a>
                                                    <div class="portfolio-caption">
                                                        <h4>Üniversite Fotoğraf 1</h4>
                                                        <p class="text-muted">Giyim</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4 portfolio-item">
                                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                                                        </div><img class="img-fluid" src="{% static 'assets/img/portfolio/2-thumbnail.jpg'%}"></a>
                                                    <div class="portfolio-caption">
                                                        <h4>Üniversite Fotoğraf 2</h4>
                                                        <p class="text-muted">Tasarım</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4 portfolio-item">
                                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                                                        </div><img class="img-fluid" src="{% static 'assets/img/portfolio/3-thumbnail.jpg'%}"></a>
                                                    <div class="portfolio-caption">
                                                        <h4>Üniversite Fotoğraf 3</h4>
                                                        <p class="text-muted">Külüpler</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4 portfolio-item">
                                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                                                        </div><img class="img-fluid" src="{% static 'assets/img/portfolio/4-thumbnail.jpg'%}"></a>
                                                    <div class="portfolio-caption">
                                                        <h4>Üniversite Fotoğraf 4</h4>
                                                        <p class="text-muted">Öğrenciler</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4 portfolio-item">
                                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                                                        </div><img class="img-fluid" src="{% static 'assets/img/portfolio/5-thumbnail.jpg'%}"></a>
                                                    <div class="portfolio-caption">
                                                        <h4>Üniversite Fotoğraf 5</h4>
                                                        <p class="text-muted">Kütüphane</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-4 portfolio-item">
                                                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                                                        <div class="portfolio-hover">
                                                            <div class="portfolio-hover-content"><i class="fa fa-plus fa-3x"></i></div>
                                                        </div><img class="img-fluid" src="{% static 'assets/img/portfolio/6-thumbnail.jpg'%}"></a>
                                                    <div class="portfolio-caption">
                                                        <h4>Üniversite Fotoğraf 6</h4>
                                                        <p class="text-muted">Mezunlar</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade portfolio-modal text-center" role="dialog" tabindex="-1" id="portfolioModal1">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-lg-10 mx-auto">
                                                                <div class="modal-body">
                                                                    <h2 class="text-uppercase">Üniversite Fotoğraf 2</h2>
                                                                    <p class="item-intro text-muted">Mezunlar</p>
                                                                    <div class="row">
                                                                        <div class="col-sm-6 col-md-4">
                                                                            <img class="img-fluid galleryItem" data-group="3" href="{% static 'assets/img/portfolio/1-full.jpg'%}" src="{% static 'assets/img/portfolio/1-thumbnail.jpg'%}">
                                                                        </div>
                                                                        <div class="col-sm-6 col-md-4">
                                                                            <img class="img-fluid galleryItem" data-group="3" href="{% static 'assets/img/portfolio/2-full.jpg'%}" src="{% static 'assets/img/portfolio/2-thumbnail.jpg'%}">
                                                                        </div>
                                                                        <div class="col-sm-6 col-md-4">
                                                                            <img class="img-fluid galleryItem" data-group="3" href="{% static 'assets/img/portfolio/3-full.jpg'%}" src="{% static 'assets/img/portfolio/3-thumbnail.jpg'%}">
                                                                        </div>
                                                                        <div class="col-sm-6 col-md-4">
                                                                            <img class="img-fluid galleryItem" data-group="3" href="{% static 'assets/img/portfolio/4-full.jpg'%}" src="{% static 'assets/img/portfolio/4-thumbnail.jpg'%}">
                                                                        </div>
                                                                        <div class="col-sm-6 col-md-4">
                                                                            <img class="img-fluid galleryItem" data-group="3" href="{% static 'assets/img/portfolio/5-full.jpg'%}" src="{% static 'assets/img/portfolio/5-thumbnail.jpg'%}">
                                                                        </div>
                                                                        <div class="col-sm-6 col-md-4">
                                                                            <img class="img-fluid galleryItem" data-group="3" href="{% static 'assets/img/portfolio/6-full.jpg'%}" src="{% static 'assets/img/portfolio/6-thumbnail.jpg'%}">
                                                                        </div>
                                                                    </div>

                                                                    <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae
                                                                        cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>

                                                                    <ul class="list-unstyled">
                                                                        <li>Tarih: Mayıs 2021</li>
                                                                        <li>Oluşturan: Rektör</li>
                                                                        <li>Katagori: Külüp aktiviteleri</li>
                                                                    </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Detayı Kapat</span></button></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr style="background-color: #bababa;" />   
                            <div class="map-clean" style="margin-top: 50px;">
                                <div class="container">
                                    <div class="intro">
                                        <h2 class="text-center">Konum</h2>
                                        <div id="mapEditable">
                                            <p class="text-center">{{university.mapShortDesc}} <a class="editable" onclick="editMap()"><i class="fa fa-pencil"></i></a> </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="mapid1" style="min-height: 600px; margin-top: 25px;"></div>
                                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1063.2308963021467!2d29.047355040685744!3d41.08492281098517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2str!4v1605660805137!5m2!1str!2str" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}



{% block Customscript %}

<!-- image slide -->
    <script>
        var groups = {};
        $('.galleryItem').each(function() {
            var id = parseInt($(this).attr('data-group'), 10);
            
            if(!groups[id]) {
                groups[id] = [];
            } 
        
            groups[id].push( this );
        }); 

        $.each(groups, function() {
            $(this).magnificPopup({
                type: 'image',
                closeOnContentClick: true,
                closeBtnInside: false,
                gallery: { enabled:true },
                
            })
        });
    </script>

    <!-- Managing Maps -->
    <script>
       
        // var littleton = L.marker([41.084009, 29.050593]).bindPopup('This is Littleton, CO.'),
        // denver = L.marker([41.1, 29.050593]).bindPopup('This is Littleton, CO.'),
        // aurora = L.marker([41.085, 29.080593]).bindPopup('This is Littleton, CO.'),
        // golden = L.marker([41.084, 29.120593]).bindPopup('This is Littleton, CO.');

        // var cities = L.layerGroup([littleton, denver, aurora, golden]);
        // cities.addTo(mymap);

        var mymap = L.map('mapid1', {center: ['{{university.lat}}', '{{university.lng}}'], zoom: 16 });
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZWJ1YmVraXJ1c3RhbGFyIiwiYSI6ImNraWcwaWxheTA2enIycHFqd2R5MzhzcW8ifQ.Y-_BfoWWgkGK0d9cikVmAA', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);

        var marker = L.marker(['{{university.lat}}', '{{university.lng}}']).addTo(mymap);
        // var marker = L.marker([41.084009, 29.050593]).addTo(mymap);
        marker.bindPopup("<b>{{university.name}}</b>").openPopup();

        previoustext = "<p class='text-center'>{0}<a class='editable' onclick='editMap()'><i class='fa fa-pencil'></i></a></p>";
        text = "<input type='text' id='mapEditableField' class='form-control editablefield' placeholder='Giriniz' value='{{university.mapShortDesc}}' />"
        function editMap() {
            editableMap = document.getElementById("mapEditable");
            editableMap.innerHTML = text;
            marker._icon.classList.add("huechange");

            // map click getting latlng      
            mymap.on('click', onMapClick);
            function onMapClick(e) {
                marker.setLatLng(e.latlng);
                marker.bindPopup("<b>{{university.name}}</b><p>kaydedilmedi</p>").openPopup();
            }

            inputId = document.getElementById('mapEditableField');
            inputId.addEventListener('keyup', function onEvent(e) {
                if (e.keyCode === 13) {
                    newtext = previoustext.replace('{0}', inputId.value);
                    editableMap.innerHTML = newtext;
                    marker._icon.classList.remove("huechange");
                    marker.bindPopup("<b>{{university.name}}</b>").openPopup();


                    formdata = new FormData();
                    formdata.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                    formdata.append('lat', marker.getLatLng().lat);
                    formdata.append('lng', marker.getLatLng().lng);
                    formdata.append('text', inputId.value);
                    formdata.append('id', '{{university.id}}');
                    makeAjaxCall(formdata);
                }
            });
        }
        
        function makeAjaxCall(formdata){

            $.ajax({
                type: 'POST',
                url: "{% url 'universities:editUniversity' %}",
                data        : formdata,
                cache       : false,
                contentType : false,
                processData : false,
                success: function (response) {
                },
                error: function (response) {
                }
            })
        }



    </script>

    <!-- Managing Tabs -->
    <script>

        var last_clicked_id = "nav_info";  
        function navClick(new_clicked_id) {
            if(last_clicked_id != new_clicked_id){
                $("#" + last_clicked_id).removeClass('activeTab');
                $("#" + last_clicked_id).addClass('inactiveTab');
                $("#" + new_clicked_id).removeClass('inactiveTab');
                $("#" + new_clicked_id).addClass('activeTab');

                // For making content show up accordingly
                var oldid = last_clicked_id.split('_')[1];
                var newid = new_clicked_id.split('_')[1];
                $("#tab_" + oldid).removeClass('show');
                $("#tab_" + oldid).removeClass('active');
                $("#tab_" + newid).addClass('show');
                $("#tab_" + newid).addClass('active');

                last_clicked_id = new_clicked_id;
            }
        }
    </script>

    <!-- Calender -->
    <script>
        today = new Date();
        currentMonth = today.getMonth();
        currentYear = today.getFullYear();
        selectYear = document.getElementById("year");
        selectMonth = document.getElementById("month");

        months = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];

        monthAndYear = document.getElementById("monthAndYear");

        showCalendar(currentMonth, currentYear);

        function next() {
            currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
            currentMonth = (currentMonth + 1) % 12;
            showCalendar(currentMonth, currentYear);
        }

        function previous() {
            currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
            currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
            showCalendar(currentMonth, currentYear);
        }

        function jump() {
            currentYear = parseInt(selectYear.value);
            currentMonth = parseInt(selectMonth.value);
            showCalendar(currentMonth, currentYear);
        }

        function clickBtn() {
            showCalendar(currentMonth, currentYear);
        }

        function showCalendar(month, year) {
            let firstDay = (new Date(year, month)).getDay()-1; //günler pazartesiden başlıyor bizde
            let lastDayOfPastMonth = daysInMonth(month-1, year); //lastDays

            tbl = document.getElementById("calendar-days"); // body of the calendar2

            // clearing all previous cells
            tbl.innerHTML = "";

            // filing data about month and in the page via DOM.
            monthAndYear.innerHTML = months[month] + " " + year;
            selectYear.value = year;
            selectMonth.value = month;

            // creating all cells
            let date = 1;
            let dateNewMonth = 1;
            for (let i = 0; i < 6; i++) {

                //creating individual cells, filing them up with data.
                for (let j = 0; j < 7; j++) {
                    if (i === 0 && j < firstDay) {
                        tbl.innerHTML += "<li class='outside'><div class='date'>" + (parseInt(lastDayOfPastMonth) - (firstDay - parseInt(j) - 1)).toString() + "</div></li>";
                    }
                    else if (date > daysInMonth(month, year)) {
                        if(i===5 && j===0)
                            break;
                        tbl.innerHTML += "<li class='outside'><div class='date'>" + dateNewMonth + "</div></li>";
                        dateNewMonth++;
                    }
                    else {
                        if (date === today.getDate() && year === today.getFullYear() && month === today.getMonth()) 
                            tbl.innerHTML += "<li class='bg-light'><div class='date' id='date"+ date +"'>"+date+"</div></li>"
                        else
                            tbl.innerHTML += "<li><div class='date' id='date"+ date +"'>"+date+"</div></li>"
                        date++;
                    }
                }
            }
            $.ajax({
                type: 'GET',
                url: "{% url 'calendars:getEvents' %}",
                data: {
                    month: month+1,
                    year: year,
                    university : '{{university.id}}'
                },

                success: function (response) {
                    let eventList = JSON.parse(response['eventList']);
                    eventList.forEach(function(company) {
                        let event = company['fields'];
                        startDate = new Date(event['startDate']);
                        endDate = new Date(event['endDate']);
                        color = event['color'];
                        university = event['university'][1];
                        let eventStartDay = startDate.getDate();
                        let eventEndDay = endDate.getDate();
                        TheDay = document.getElementById("date" + eventStartDay);

                        if(eventStartDay == eventEndDay){
                            TheDay.innerHTML += "<div class='event " + color + "' data-toggle='tooltip' data-placement='top' title='" + university + "'>" + event.name + "</div>";
                        }
                        else{
                            TheDay.innerHTML += "<div class='event span-2 " + color + "' data-toggle='tooltip' data-placement='top' title='" + university + "'>" + event.name + "</div>";
                        }
                    });
                },
            })
        }

        function daysInMonth(iMonth, iYear) {
            return 32 - new Date(iYear, iMonth, 32).getDate();
        }
    </script>

{% endblock Customscript %}