{% extends "users/base.html" %}
{% load static %}
{% static "" as baseUrl %}

{% block CustomStyle %}
    <style>
    .form-control-borderless {
        border: none;
        font-size: 20px;

    }

    .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
    }
    .text-overflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .headerClass {
        font-weight: 700;
    }

    .specialA {
        text-decoration: none;
        color: inherit;
    }
    .specialA:hover, .specialA:active, .specialA:focus {
        text-decoration: none;
        color: inherit;
    }

    </style>
{% endblock CustomStyle %}


{% block content %}
    <div class="container" style="margin-top: 100px;" >
        <div class="row">
            <div class="col">
                <div class="card m-auto" style="max-width:850px;">
                    <div class="card-body">
                        <form class="d-flex align-items-center">
                            <i class="fa fa-search" style="font-size: 30px; margin-right: 20px;"></i>
                            <input type="search" class="form-control form-control-lg flex-shrink-1 form-control-borderless" placeholder="Üniversite Ara" name="searchbar" />
                            <button class="btn btn-primary btn-lg" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            {% if user.is_superuser %}
            <div class="col-1 align-middle" style="text-align: center;">
                <a class="btn" href="{% url 'universities:createUniversity' %}" data-bs-hover-animate="pulse">
                    <i class="fa fa-plus-circle d-xl-flex justify-content-xl-end" style="font-size: 50px;margin-top: 25px;color: #007bff;"></i>
                </a>
            </div>
            {% endif %}
        </div>
        <div class="row" style="margin-top: 25px;">
            {% for university in universities %}
                {% comment %} <div class="col-4">
                    <a class="specialA d-flex flex-column justify-content-xl-center align-items-xl-center" href="{% url 'universities:detail' university.id %}">
                        <img class="img-fluid" data-aos="fade-up" src=" {{ university.getcoverPhoto }} ">
                        <h2 class="text-overflow headerClass">{{university.name}}</h1>
                        <p class="text-overflow">{{university.info}}</p>
                    </a>
                </div> {% endcomment %}
                <div class="col-4">
                    <a class="specialA d-flex flex-column justify-content-xl-center align-items-xl-center" href="{% url 'universities:detail' university.id %}">
                        <img class="img-fluid" data-aos="fade-up" src="{{university.cover_photo.url}}">
                        <h2 class="text-overflow headerClass">{{university.name}}</h1>
                        <p class="text-overflow">{{university.info}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}



{% block Customscript %}
    <script>

    </script>
{% endblock Customscript %}