{% extends 'users/base.html' %}
{% block content %}



 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    {% if user.is_authenticated %}
    <div class="btn-group" role="group" aria-label="loginsignupbuttons">
        <a class="btn btn-outline-secondary" href="{% url 'appmakales:makale_new' %}" role="button">Yeni Makale</a>
        <a class="btn btn-outline-secondary" href="#" role="button">{{ user.username }}</a>
    </div>
    {% else %}
    {% endif %}
</nav> 


{% block content_appmakales %}

{% endblock content_appmakales %}

{% endblock content %}