
{% extends "users/base.html" %}
{% block content %}
<form action='tyt_hesaplama'>

<div class="container d-lg-flex justify-content-lg-center">
        <div class="row">
            <div class="col d-xl-flex">
                <h1>PUAN HESAPLAMA</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-lg-flex justify-content-lg-center">
            <h4>Diploma Puanı</h4>
        </div>
    </div>
    <div class="row">
        <div class="col d-lg-flex justify-content-lg-center"><input type="number" name="diplomaPuan" value={{diplomaPuan|default:"0"}}></div>
    </div>
    <div class="row">
        <div class="col d-lg-flex justify-content-lg-center align-items-xl-center"><input type="checkbox" name="gecensene" value="false" >
            <h6 class="d-xl-flex">Geçen sene bir bölüme yerleştiyseniz tikleyiniz</h6>
        </div>
    </div>
    <div class="row d-lg-flex justify-content-lg-center">
        <div class="col d-lg-flex justify-content-lg-center" style="background: #368239;">
            <h5>TYT PUAN HESAPLAMA</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Doğru</th>
                            <th>Yanlış</th>
                            <th>Net</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Türkçe(40)</strong></td>
                            <td><input type="number" min="0" max="40" name="turkceDogru" value={{turkceDogru|default:"0"}}></td>
                            <td><input type="number" name="turkceYanlis" max="40" min="0" value={{turkceYanlis|default:"0"}}></td>
                            <td><input type="number" name="turkceNet" max="40" min="-10" readonly="" value={{turkceNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Matematik(40)</strong></td>
                            <td><input type="number" min="0" max="40" name="matematikDogru" value={{matematikDogru|default:"0"}}></td>
                            <td><input type="number" name="matematikYanlis" min="0" max="40" value={{matematikYanlis|default:"0"}}></td>
                            <td><input type="number" name="matematikNet" min="-10" max="40" readonly="" value={{matematikNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Sosyal(20)</strong></td>
                            <td><input type="number" max="20" min="0" name="sosyalDogru" value={{sosyalDogru|default:"0"}}></td>
                            <td><input type="number" name="sosyalYanlis" min="0" max="20" value={{sosyalYanlis|default:"0"}}></td>
                            <td><input type="number" name="sosyalNet" min="-10" max="20" readonly="" value={{sosyalNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Fen(20)</strong></td>
                            <td><input type="number" min="0" max="20" name="fenDogru" value={{fenDogru|default:"0"}}></td>
                            <td><input type="number" name="fenYanlis" min="0" max="20" value={{fenYanlis|default:"0"}}></td>
                            <td><input type="number" name="fenNet" max="20" min="-10" readonly="" value={{fenNet}}></td>
                        </tr>
                    </tbody>
                </table>
            </div><button class="btn btn-primary align-self-stretch" type="submit">HESAPLA</button><button class="btn btn-primary" type="button" style="background: #00b28c;">TEMİZLE</button></div>
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background: rgb(175,165,147);">TYT Puanları</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td><strong>Ham</strong></td>
                            <td><strong>Yer</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Puan</strong></td>
                            <td><input type="number" name="puanham" readonly="" value={{puanham}}></td>
                            <td><input type="number" name="puanyer" readonly="" value={{puanyer}}></td>
                        </tr>
                        <tr>
                            <td style="background: #afa593;"><strong>TYT Sıralamaları</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong>Ham</strong></td>
                            <td><strong>Yer</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Sıralama</strong></td>
                            <td><input type="number" name="siralamaham" readonly="" value={{siralamaham}}></td>
                            <td><input type="number" name="siralamayer" readonly="" value={{siralamayer}}></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row d-lg-flex justify-content-lg-center">
        <div class="col d-lg-flex justify-content-lg-center" style="background: #368239;">
            <h5>YKS-AYT PUAN HESAPLAMA</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Doğru</th>
                            <th>Yanlış</th>
                            <th>Net</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Matematik(40)</strong></td>
                            <td><input type="number" max="40" min="0" name="ekmatematikDogru" value={{ekmatematikDogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekmatematikYanlis" value={{ekmatematikYanlis|default:"0"}}></td>
                            <td><input type="number" max="100" min="0" name="ekmatematikNet" readonly="" value={{ekmatematikNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Fizik(14)</strong></td>
                            <td><input type="number" min="0" max="14" name="ekfizikDogru" value={{ekfizikDogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekfizikYanlis" value={{ekfizikYanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekfizikNet" readonly="" value={{ekfizikNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Kimya(13)</strong></td>
                            <td><input type="number" min="0" max="13" name="ekkimyaDogru" value={{ekkimyaDogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekkimyaYanlis" value={{ekkimyaYanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekkimyaNet" readonly="" value={{ekkimyaNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Biyoloji(13)</strong><br></td>
                            <td><input type="number" min="0" max="100" name="ekbiyolojiDogru" value={{ekbiyolojiDogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekbiyolojiYanlis" value={{ekbiyolojiYanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekbiyolojiNet" readonly="" value={{ekbiyolojiNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Edebiyat(24)</strong></td>
                            <td><input type="number" min="0" max="100" name="ekedebiyatDogru" value={{ekedebiyatDogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekedebiyatYanlis" value={{ekedebiyatYanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekedebiyatNet" readonly="" value={{ekedebiyatNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Tarih 1(10)</strong></td>
                            <td><input type="number" min="0" max="100" name="ektarih1Dogru" value={{ektarih1Dogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ektarih1Yanlis" value={{ektarih1Yanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ektarih1Net" readonly="" value={{ektarih1Net}}></td>
                        </tr>
                        <tr>
                            <td><strong>Coğrafya 1(6)</strong></td>
                            <td><input type="number" min="0" max="100" name="ekcografya1Dogru" value={{ekcografya1Dogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekcografya1Yanlis" value={{ekcografya1Yanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekcografya1Net" readonly="" value={{ekcografya1Net}}></td>
                        </tr>
                        <tr>
                            <td><strong>Tarih 2(11)</strong></td>
                            <td><input type="number" min="0" max="100" name="ektarih2Dogru" value={{ektarih2Dogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ektarih2Yanlis" value={{ektarih2Yanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ektarih2Net" readonly="" value={{ektarih2Net}}></td>
                        </tr>
                        <tr>
                            <td><strong>Coğrafya 2(11)</strong></td>
                            <td><input type="number" min="0" max="100" name="ekcografya2Dogru" value={{ekcografya2Dogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekcografya2Yanlis" value={{ekcografya2Yanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekcografya2Net" readonly="" value={{ekcografya2Net}}></td>
                        </tr>
                        <tr>
                            <td><strong>Felsefe(12)</strong></td>
                            <td><input type="number" min="0" max="100" name="ekfelsefeDogru" value={{ekfelsefeDogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekfelsefeYanlis" value={{ekfelsefeYanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekfelsefeNet" readonly="" value={{ekfelsefeNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Din(6)</strong></td>
                            <td><input type="number" min="0" max="100" name="ekdinDogru" value={{ekdinDogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekdinYanlis" value={{ekdinYanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekdinNet" readonly="" value={{ekdinNet}}></td>
                        </tr>
                        <tr>
                            <td><strong>Dil(80)</strong></td>
                            <td><input type="number" min="0" max="100" name="ekdilDogru" value={{ekdilDogru|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekdilYanlis" value={{ekdilYanlis|default:"0"}}></td>
                            <td><input type="number" min="0" max="100" name="ekdilNet" readonly="" value={{ekdilNet}}></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background: #afa593;">YKS-AYT Puanlar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td>Ham</td>
                            <td>Yer</td>
                        </tr>
                        <tr>
                            <td><strong>Sayısal</strong></td>
                            <td><input type="number" name="ekpuanhamsay" readonly="" value={{ekpuanhamsay}}></td>
                            <td><input type="number" name="ekpuanyersay" readonly="" value={{ekpuanyersay}}></td>
                        </tr>
                        <tr>
                            <td><strong>Eşit Ağırlık</strong></td>
                            <td><input type="number" name="ekpuanhamest" readonly="" value={{ekpuanhamest}}></td>
                            <td><input type="number" name="ekpuanyerest" readonly="" value={{ekpuanyerest}}></td>
                        </tr>
                        <tr>
                            <td><strong>Sözel</strong></td>
                            <td><input type="number" name="ekpuanhamsoz" readonly="" value={{ekpuanhamsoz}}></td>
                            <td><input type="number" name="ekpuanyersoz" readonly="" value={{ekpuanyersoz}}></td>
                        </tr>
                        <tr>
                            <td><strong>Dil</strong></td>
                            <td><input type="number" name="ekpuanhamdil" readonly="" value={{ekpuanhamdil}}></td>
                            <td><input type="number" name="ekpuanyerdil" readonly="" value={{ekpuanyerdil}}></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="background: #afa593;"><strong>YKS-AYT Sıralamalar</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Ham</td>
                            <td>Yer</td>
                        </tr>
                        <tr>
                            <td><strong>Sayısall</strong></td>
                            <td><input type="number" name="eksirahamsay" readonly="" value={{eksirahamsay}}></td>
                            <td><input type="number" name="eksirayersay" readonly="" value={{eksirayersay}}></td>
                        </tr>
                        <tr>
                            <td><strong>Eşit Ağırlık</strong></td>
                            <td><input type="number" name="eksirahamest" readonly="" value={{eksirahamest}}></td>
                            <td><input type="number" name="eksirayerest" readonly="" value={{eksirayerest}}></td>
                        </tr>
                        <tr>
                            <td><strong>Sözel</strong></td>
                            <td><input type="number" name="eksirahamsoz" readonly="" value={{eksirahamsoz}}></td>
                            <td><input type="number" name="eksirayersoz" readonly="" value={{eksirayersoz}}></td>
                        </tr>
                        <tr>
                            <td><strong>Dil</strong></td>
                            <td><input type="number" name="eksirahamdil" readonly="" value={{eksirahamdil}}></td>
                            <td><input type="number" name="eksirayerdil" readonly="" value={{eksirayerdil}}></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"><button class="btn btn-primary" type="submit">HESAPLA</button><button class="btn btn-primary" type="button" style="background: rgb(0,178,140);">TEMİZLE</button></div>
    </div>

</form>
{% endblock content %}