{% extends "users/base.html" %}

{% block CustomStyle %}
<style>

</style>
{% endblock CustomStyle %}


{% block content %}
<section class="text-center">
    <div class="bootstrap_calendar">
        <div class="container">
            <header class="text-center my-3">
                <h1 class="display-4">Akademik Takvim</h1>
            </header>
            <div class="calendar shadow bg-white p-5">
                <div class="d-flex align-items-center"><i class="fa fa-calendar fa-3x mr-3"></i>
                    <h2 class="month font-weight-bold mb-0 text-uppercase" id="monthAndYear"></h2>
                </div>
                <p class="font-italic text-muted mb-5">Üniversitelerin Programı</p>
                <ol class="day-names list-unstyled" id="calendar-day-names">
                    <li>PAZARTESİ</li>
                    <li>Salı</li>
                    <li>Çarşamba</li>
                    <li>Perşembe</li>
                    <li>Cuma</li>
                    <li>CUMARTESİ</li>
                    <li>Pazar</li>
                </ol>
                <ol class="days list-unstyled" id="calendar-days">
<!--                     
                    <li class="outside">
                        <div class="date">30</div>
                    </li>

                    <li>
                        <div class="date">1</div>
                    </li>
                    <li>
                        <div class="date">2</div>
                    </li>
                    <li>
                        <div class="date">3</div>
                    </li>
                    <li>
                        <div class="date">4</div>
                    </li>
                    <li>
                        <div class="date">5</div>
                        <div class="event all-day begin span-2 bg-warning">Kayıt</div>

                    </li>
                    <li>
                        <div class="date">6</div>
                    </li>
                    <li>
                        <div class="date">7</div>
                    </li>
                    <li>
                        <div class="date">8</div>
                    </li>
                    <li>
                        <div class="date">9</div>
                    </li>
                    <li>
                        <div class="date">10</div>
                    </li>
                    <li>
                        <div class="date">11</div>
                    </li>
                    <li>
                        <div class="date">12</div>
                    </li>
                    <li>
                        <div class="date">13</div> -->
                        <!-- <div class="event all-day begin span-2 bg-warning">Event Name</div> -->
                    <!-- </li>
                    <li>
                        <div class="date">14</div>
                    </li>
                    <li>
                        <div class="date">15</div>
                        <div class="event all-day end bg-success">Konser</div>
                        <div class="event all-day end bg-primary">Ders Programı</div>
                    </li>
                    <li>
                        <div class="date">16</div>
                    </li>
                    <li>
                        <div class="date">17</div>
                    </li>
                    <li>
                        <div class="date">18</div>
                        <div class="event bg-danger">Sempozyum</div>
                    </li>
                    <li>
                        <div class="date">19</div>
                    </li>
                    <li>
                        <div class="date">20</div>
                    </li>
                    <li>
                        <div class="date">21</div>
                        <div class="event bg-primary">Kayıt</div>
                    </li>
                    <li>
                        <div class="date">22</div> -->
                        <!-- <div class="event bg-info">Event with Longer Name</div> -->
                    <!-- </li>
                    <li>
                        <div class="date">23</div>
                    </li>
                    <li>
                        <div class="date">24</div>
                    </li>
                    <li>
                        <div class="date">25</div>
                    </li>
                    <li>
                        <div class="date">26</div>
                    </li>
                    <li>
                        <div class="date">27</div>
                    </li>
                    <li>
                        <div class="date">28</div>
                    </li>
                    <li>
                        <div class="date">29</div>
                    </li>
                    <li>
                        <div class="date">30</div>
                    </li>
                    <li>
                        <div class="date">31</div>
                    </li>
                    <li class="outside">
                        <div class="date">1</div>
                    </li>
                    <li class="outside">
                        <div class="date">2</div>
                    </li>
                    <li class="outside">
                        <div class="date">3</div>
                    </li> -->
                </ol>
                
            <div class="form-inline">
                <button class="btn btn-outline-primary col-sm-6" id="previous" onclick="previous()">Önceki</button>
                <button class="btn btn-outline-primary col-sm-6" id="next" onclick="next()">Sonraki</button>
            </div>
            <br/>
            <form class="form-inline">
                <!-- <label class="lead mr-2 ml-2" for="month">Atla: </label> -->
                <select class="form-control col-sm-6" name="month" id="month" onchange="jump()">
                    <option value=0>Ocak</option>
                    <option value=1>Şubak</option>
                    <option value=2>Mart</option>
                    <option value=3>Nisan</option>
                    <option value=4>Mayıs</option>
                    <option value=5>Haziran</option>
                    <option value=6>Temmuz</option>
                    <option value=7>Ağustos</option>
                    <option value=8>Eylül</option>
                    <option value=9>Ekim</option>
                    <option value=10>Kasım</option>
                    <option value=11>Aralık</option>
                </select>
                <label for="year"></label><select class="form-control col-sm-6" name="year" id="year" onchange="jump()">
                <option value=1990>1990</option>
                <option value=1991>1991</option>
                <option value=1992>1992</option>
                <option value=1993>1993</option>
                <option value=1994>1994</option>
                <option value=1995>1995</option>
                <option value=1996>1996</option>
                <option value=1997>1997</option>
                <option value=1998>1998</option>
                <option value=1999>1999</option>
                <option value=2000>2000</option>
                <option value=2001>2001</option>
                <option value=2002>2002</option>
                <option value=2003>2003</option>
                <option value=2004>2004</option>
                <option value=2005>2005</option>
                <option value=2006>2006</option>
                <option value=2007>2007</option>
                <option value=2008>2008</option>
                <option value=2009>2009</option>
                <option value=2010>2010</option>
                <option value=2011>2011</option>
                <option value=2012>2012</option>
                <option value=2013>2013</option>
                <option value=2014>2014</option>
                <option value=2015>2015</option>
                <option value=2016>2016</option>
                <option value=2017>2017</option>
                <option value=2018>2018</option>
                <option value=2019>2019</option>
                <option value=2020>2020</option>
                <option value=2021>2021</option>
                <option value=2022>2022</option>
                <option value=2023>2023</option>
                <option value=2024>2024</option>
                <option value=2025>2025</option>
                <option value=2026>2026</option>
                <option value=2027>2027</option>
                <option value=2028>2028</option>
                <option value=2029>2029</option>
                <option value=2030>2030</option>
            </select></form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}



{% block Customscript %}

<script>
    today = new Date();
    currentMonth = today.getMonth();
    currentYear = today.getFullYear();
    selectYear = document.getElementById("year");
    selectMonth = document.getElementById("month");

    months = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];

    monthAndYear = document.getElementById("monthAndYear");
    showCalendar(currentMonth, currentYear);

    function next() {
        currentYear = (currentMonth === 11) ? currentYear + 1 : currentYear;
        currentMonth = (currentMonth + 1) % 12;
        showCalendar(currentMonth, currentYear);
    }

    function previous() {
        currentYear = (currentMonth === 0) ? currentYear - 1 : currentYear;
        currentMonth = (currentMonth === 0) ? 11 : currentMonth - 1;
        showCalendar(currentMonth, currentYear);
    }

    function jump() {
        currentYear = parseInt(selectYear.value);
        currentMonth = parseInt(selectMonth.value);
        showCalendar(currentMonth, currentYear);
    }

    function showCalendar(month, year) {

        let firstDay = (new Date(year, month)).getDay()-1; //günler pazartesiden başlıyor bizde
        let lastDayOfPastMonth = daysInMonth(month-1, year); //lastDays

        tbl = document.getElementById("calendar-days"); // body of the calendar2

        // clearing all previous cells
        tbl.innerHTML = "";

        // filing data about month and in the page via DOM.
        monthAndYear.innerHTML = months[month] + " " + year;
        selectYear.value = year;
        selectMonth.value = month;

        // creating all cells
        let date = 1;
        let dateNewMonth = 1;
        for (let i = 0; i < 6; i++) {

            //creating individual cells, filing them up with data.
            for (let j = 0; j < 7; j++) {
                if (i === 0 && j < firstDay) {
                    tbl.innerHTML += "<li class='outside'><div class='date'>" + (parseInt(lastDayOfPastMonth) - (firstDay - parseInt(j) - 1)).toString() + "</div></li>";
                }
                else if (date > daysInMonth(month, year)) {
                    if(i===5 && j===0)
                        break;
                    tbl.innerHTML += "<li class='outside'><div class='date'>" + dateNewMonth + "</div></li>";
                    dateNewMonth++;
                }
                else {
                    tbl.innerHTML += "<li><div class='date'>"+date+"</div></li>"
                    date++;
                }
            }
        }
    }

    function daysInMonth(iMonth, iYear) {
        return 32 - new Date(iYear, iMonth, 32).getDate();
    }
</script>
{% endblock Customscript %}